.root {
    flex-grow: 1;
    z-index: 10;
    position: relative;
}

.title {
    flex-grow: 1;
    font-weight: 500;
    font-size: 1.27rem;
}

.link {
    padding: 0px 20px !important;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
}

.link:hover {
    border-bottom: 4px solid #00bcd4;
    text-decoration: none !important;
}

.drawerTitle {
    text-align: center;
    margin-top: 20px;
}

.drawerLink {
    font-size: 1.1rem;
    margin: 5px 0;
    padding-left: 30px;
    padding-right: 30px;
}